[style="margin-top:15px;margin-bottom:15px;text-align:center;border:1px solid #bebebe;background-color:#bababa;"]{

		visibility: hidden;

		height:5px !important;

		

		}

		[style="margin-top:15px;margin-bottom:15px;text-align:center;"]{

		visibility: hidden;

		height:5px !important;

		}
